/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------
END OF NORMALIZE
---------------------------------------------*/

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: hsla(181, 56%, 51%, 0.3);

}

div.title1 {
  text-align: center;
  padding: .1em;
  margin: .3em;
  border: .1em solid hsla(39, 100%, 50%, 1.0);
  background-color: hsla(163, 71%, 75%, 0.5);
  border-radius: 1em;
}

h1 {
  text-shadow: 0px 2px 2px white;
  text-align: center;
  font-size:  2.5em;
  font-style: bold;
  font-weight: 700;
  letter-spacing: .04em;
  margin: .3em;
  padding: .5em;
  border: .04em solid hsla(39, 100%, 50%, 1.0);
  border-radius: .3em;
  background-color: #FFF8E8;
  color: hsla(345, 100%, 74%, 1.0);
}

div.click {
  text-align: center;
  border: .1em solid #F3B562;
  background-color: hsla(163, 71%, 75%, 0.5);
  border-radius: .5em;
  width: 10em;
  padding: .2em;
}

img.skull-cat {
  margin-top: .5em;
  margin-bottom: .1em;
  padding: 1em;
  height: 7em;
  width: 7em;
  border: .1em solid hsla(39, 100%, 50%, 1.0);
  border-radius: .5em;
  background-color: hsla(0, 0%, 100%, 0.8);
}

h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  margin-right: 25%;
  margin-left: 25%;
  padding: .08em;
  width: 3em;
  border: .05em solid hsla(39, 100%, 50%, 1.0);
  border-radius: .3em;
  background-color:#FFF8E8;
  color: hsla(345, 100%, 74%, 1.0);
}

div.paragraph1 {
  width: 45em;
  padding: 1em;
  margin: 1em;
  border: .1em solid hsla(39, 100%, 50%, 0.6);
  background-color: #FFF8E8;
  border-radius: .5em;
}

p.description {
  text-align: justify;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: .06em;
  padding: 1em;
  border-radius: .5em;
  color: black;
  border: .1em solid hsla(39, 100%, 50%, 1.0);
  background-color: hsla(0, 0%, 100%, 0.5);
}

/*img.donut-cat {
  height: 20em;
  margin: 1em;
  padding: 1em;
  border: .1em solid #F3B562;
  border-radius: .5em;
  background-color: hsla(0, 0%, 100%, 0.8);
}

POSSIBLY FOR FUTURE PHOTO*/

div.table {
  text-align: center;
  padding: 1.5em;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  border: .1em solid hsla(39, 100%, 50%, 0.6);
  background-color: #FFF8E8;
  border-radius: .5em;
}

table {
  text-align: center;
  width: 100%;
}

th, td {
  font-weight: 400;
  padding: .5em .6em .6em .6em;
  border: .1em solid hsla(34, 86%, 67%, 0.3);
  background-color: hsla(0, 0%, 100%, 0.5);
}

th.location {
  font-weight: 450;
  font-size: 1.2em;
  background-color: hsla(163, 71%, 75%, 0.5);
  border: .1em solid hsla(163, 71%, 75%, 0.5);
}

td.hours {
  font-weight: 400;
  font-size: 1em;
  background-color: hsla(34, 86%, 67%, 0.3);
  border: .1em solid hsla(34, 86%, 67%, 0.3);
}

td.total {
  font-weight: 450;
  font-size: 1.2em;
  background-color: hsla(163, 71%, 75%, 0.5);
  border: .1em solid hsla(163, 71%, 75%, 0.5);
}
div.enter-instruction {
  width: 20em;
  padding: 1em;
  margin: 1em;
  border: .1em solid hsla(39, 100%, 50%, 0.6);
  background-color: #FFF8E8;
  border-radius: .5em;
}

p.instructions {
  text-align: justify;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: .06em;
  padding: 1em;
  color: black;
  border: .1em solid hsla(39, 100%, 50%, 1.0);
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: .5em;
}

div.enter-here {
  text-align: left;
  width: 30em;
  padding: 1em;
  margin: 1em;
  border: .1em solid hsla(39, 100%, 50%, 0.6);
  background-color: #FFF8E8;
  border-radius: .5em;
}

h4 {
  text-shadow: 0px 1px 1px grey;
  text-align: justify;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: .06em;
  padding: 1em;
  width: 12em;
  color: white;
  border: .1em solid hsla(345, 100%, 74%, 0.7);
  background-color: hsla(345, 100%, 74%, 0.7);
  border-radius: .5em;
}

div.forms {
  text-align: left;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: .06em;
  padding: .5em;
  color: black;
  border: .1em solid hsla(34, 86%, 67%, 0.5);
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: .5em;
  margin-top: 1em;
  width: 22em;
  border: .1em solid white;
}

input {
  font-size: 1em;
  border: .1em solid hsla(34, 86%, 67%, 0.5);
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: .5em;
}

input:focus, input:hover{
  border: .1em solid hsla(163, 71%, 75%, 0.5);
}

div.button1 {
  margin-top: 1em;
  width: 20em;
  text-align: left;
}

div.lower-page {
  margin-top: 0em;
}

button {
  text-shadow: 0px 1px 1px white;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: .06em;
  background-color: hsla(163, 71%, 75%, 0.5);
  border: .1em solid hsla(163, 71%, 75%, 0.5);
  border-radius: .5em;
}

button:hover {
  background-color: hsla(34, 86%, 67%, 0.3);
  border: .1em solid hsla(34, 86%, 67%, 0.3);
}
